<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>地獄通信</title>
<style>
<!--
td{ }
td{color:#000}
.j{width:34em}
div .j{line-height:120%}
-->
</style>
<meta http-equiv="Page-Exit" content="revealTrans(Duration=1.0,Transition=12)">
<meta http-equiv="refresh" content="7;url=jigoku.php">
</head>
<body text="#FFFFFF" bgcolor="#101010" oncontextmenu="return false" onselectstart="return false" onkeydown="if(event.keyCode==8 || event.keyCode==37) return false;" onUnload="if(event.clientY<0) document.location=document.location.href">
<p align="center"><img src="{{ static_url(picture) }}"></p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p>
<p align="center" style="margin-top: 0; margin-bottom: 0">
<p align="center" style="margin-top: 0; margin-bottom: 0" class="style1">
<p align="center"><font color="#808000">
</font></p>
</body>
 
</html>