<html>
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="google-site-verification" content="oUfP9ppHZ7YFwPpK8zXZZ041zBOpJSnOgM_MIyNOfF8" />
		<title>地獄通信</title>
		<script language="javascript">
		function hidestatus(){
		window.status=''
		return true
		}
		if (document.layers)
		document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT)
		document.onmouseover=hidestatus
		document.onmouseout=hidestatus
		</script>
		</head>

		<frameset framespacing="0" border="0" frameborder="0" rows="100%">
  		<frame name="main" src="indexjigoku.php" scrolling="no" noresize>
  		<noframes>
  		<body topmargin="0" leftmargin="0" onkeydown='if(event.keyCode==78&&event.ctrlKey)return false;'oncontextmenu="return false" onUnload="if(event.clientY<0) document.location=document.location.href">
		<p>あ な た の 怨 み 、 晴 ら し ま す 。</p>
		</body>
		</noframes>
		</frameset>
		</html>