<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>受り取ました</title>
<meta http-equiv="refresh" content="5;url=about:blank" target="_top">
<style type="text/css">
<!--
body {
	background-image: url({{ static_url(picture) }});
	background-repeat: no-repeat;
}
.style1 {
	font-size: 24px;
	font-weight: bold;
}
.style2 {color: #330000}
.style4 {color: #660000}
.style6 {
	font-weight: bold;
	color: #660000;
	font-size: 24px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.style10 {font-family: Geneva, Arial, Helvetica, sans-serif}
-->
</style>

<body text="#FFFFFF" bgcolor="#000000" oncontextmenu="return false" onselectstart="return false">
<p class="style1">&nbsp;</p>
<p class="style1"> 　　<span class="style4">　</span></p>
<p class="style1"><span class="style4"><span class="style10">　　　受り取ました。</span></span></p>
<p class="style6"><br>
　　　地獄少女</p>
<p class="style2">&nbsp;</p>
</body>
 
</html>
